<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="./debug/logs"/>
    <property name="APP_NAME" value="debug"/>

    <include resource="logback-common.xml"/>

    <logger name="cl.sugarfever.postgres" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>